<style type="text/css">
</style>
<table id="T_8b7ca">
  <thead>
    <tr>
      <th class="blank level0" >&nbsp;</th>
      <th id="T_8b7ca_level0_col0" class="col_heading level0 col0" >binary-wl</th>
      <th id="T_8b7ca_level0_col1" class="col_heading level0 col1" >config_id</th>
      <th id="T_8b7ca_level0_col2" class="col_heading level0 col2" >metric</th>
    </tr>
    <tr>
      <th class="index_name level0" >setting_id</th>
      <th class="blank col0" >&nbsp;</th>
      <th class="blank col1" >&nbsp;</th>
      <th class="blank col2" >&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th id="T_8b7ca_level0_row0" class="row_heading level0 row0" >0</th>
      <td id="T_8b7ca_row0_col0" class="data row0 col0" >benchmark_runner/benchmark/large/ingestion/tpch/native/ingest_lineitem.benchmark</td>
      <td id="T_8b7ca_row0_col1" class="data row0 col1" >-1</td>
      <td id="T_8b7ca_row0_col2" class="data row0 col2" >runtime</td>
    </tr>
    <tr>
      <th id="T_8b7ca_level0_row1" class="row_heading level0 row1" >1</th>
      <td id="T_8b7ca_row1_col0" class="data row1 col0" >benchmark_runner/benchmark/micro/compression/dictionary/dictionary_store_worst_case_with_null.benchmark</td>
      <td id="T_8b7ca_row1_col1" class="data row1 col1" >-1</td>
      <td id="T_8b7ca_row1_col2" class="data row1 col2" >runtime</td>
    </tr>
    <tr>
      <th id="T_8b7ca_level0_row2" class="row_heading level0 row2" >2</th>
      <td id="T_8b7ca_row2_col0" class="data row2 col0" >benchmark_runner/benchmark/micro/index/create/create_art_varchar.benchmark</td>
      <td id="T_8b7ca_row2_col1" class="data row2 col1" >-1</td>
      <td id="T_8b7ca_row2_col2" class="data row2 col2" >runtime</td>
    </tr>
  </tbody>
</table>
