<style type="text/css">
</style>
<table id="T_fae54">
  <thead>
    <tr>
      <th class="blank level0" >&nbsp;</th>
      <th id="T_fae54_level0_col0" class="col_heading level0 col0" >binary-wl</th>
      <th id="T_fae54_level0_col1" class="col_heading level0 col1" >config_id</th>
      <th id="T_fae54_level0_col2" class="col_heading level0 col2" >metric</th>
    </tr>
    <tr>
      <th class="index_name level0" >setting_id</th>
      <th class="blank col0" >&nbsp;</th>
      <th class="blank col1" >&nbsp;</th>
      <th class="blank col2" >&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th id="T_fae54_level0_row0" class="row_heading level0 row0" >0</th>
      <td id="T_fae54_row0_col0" class="data row0 col0" >brotli/enwik8</td>
      <td id="T_fae54_row0_col1" class="data row0 col1" >25</td>
      <td id="T_fae54_row0_col2" class="data row0 col2" >max_resident_size</td>
    </tr>
    <tr>
      <th id="T_fae54_level0_row1" class="row_heading level0 row1" >1</th>
      <td id="T_fae54_row1_col0" class="data row1 col0" >brotli/enwik8</td>
      <td id="T_fae54_row1_col1" class="data row1 col1" >26</td>
      <td id="T_fae54_row1_col2" class="data row1 col2" >max_resident_size</td>
    </tr>
    <tr>
      <th id="T_fae54_level0_row2" class="row_heading level0 row2" >2</th>
      <td id="T_fae54_row2_col0" class="data row2 col0" >brotli/enwik8</td>
      <td id="T_fae54_row2_col1" class="data row2 col1" >27</td>
      <td id="T_fae54_row2_col2" class="data row2 col2" >max_resident_size</td>
    </tr>
    <tr>
      <th id="T_fae54_level0_row3" class="row_heading level0 row3" >3</th>
      <td id="T_fae54_row3_col0" class="data row3 col0" >brotli/enwik8</td>
      <td id="T_fae54_row3_col1" class="data row3 col1" >28</td>
      <td id="T_fae54_row3_col2" class="data row3 col2" >max_resident_size</td>
    </tr>
    <tr>
      <th id="T_fae54_level0_row4" class="row_heading level0 row4" >4</th>
      <td id="T_fae54_row4_col0" class="data row4 col0" >brotli/enwik8</td>
      <td id="T_fae54_row4_col1" class="data row4 col1" >25</td>
      <td id="T_fae54_row4_col2" class="data row4 col2" >wall_clock_time</td>
    </tr>
    <tr>
      <th id="T_fae54_level0_row5" class="row_heading level0 row5" >5</th>
      <td id="T_fae54_row5_col0" class="data row5 col0" >brotli/enwik8</td>
      <td id="T_fae54_row5_col1" class="data row5 col1" >26</td>
      <td id="T_fae54_row5_col2" class="data row5 col2" >wall_clock_time</td>
    </tr>
    <tr>
      <th id="T_fae54_level0_row6" class="row_heading level0 row6" >6</th>
      <td id="T_fae54_row6_col0" class="data row6 col0" >brotli/enwik8</td>
      <td id="T_fae54_row6_col1" class="data row6 col1" >27</td>
      <td id="T_fae54_row6_col2" class="data row6 col2" >wall_clock_time</td>
    </tr>
    <tr>
      <th id="T_fae54_level0_row7" class="row_heading level0 row7" >7</th>
      <td id="T_fae54_row7_col0" class="data row7 col0" >brotli/enwik8</td>
      <td id="T_fae54_row7_col1" class="data row7 col1" >28</td>
      <td id="T_fae54_row7_col2" class="data row7 col2" >wall_clock_time</td>
    </tr>
    <tr>
      <th id="T_fae54_level0_row8" class="row_heading level0 row8" >8</th>
      <td id="T_fae54_row8_col0" class="data row8 col0" >brotli/geo-maps-countries-land-250m</td>
      <td id="T_fae54_row8_col1" class="data row8 col1" >25</td>
      <td id="T_fae54_row8_col2" class="data row8 col2" >max_resident_size</td>
    </tr>
    <tr>
      <th id="T_fae54_level0_row9" class="row_heading level0 row9" >9</th>
      <td id="T_fae54_row9_col0" class="data row9 col0" >brotli/geo-maps-countries-land-250m</td>
      <td id="T_fae54_row9_col1" class="data row9 col1" >26</td>
      <td id="T_fae54_row9_col2" class="data row9 col2" >max_resident_size</td>
    </tr>
    <tr>
      <th id="T_fae54_level0_row10" class="row_heading level0 row10" >10</th>
      <td id="T_fae54_row10_col0" class="data row10 col0" >brotli/geo-maps-countries-land-250m</td>
      <td id="T_fae54_row10_col1" class="data row10 col1" >27</td>
      <td id="T_fae54_row10_col2" class="data row10 col2" >max_resident_size</td>
    </tr>
    <tr>
      <th id="T_fae54_level0_row11" class="row_heading level0 row11" >11</th>
      <td id="T_fae54_row11_col0" class="data row11 col0" >brotli/geo-maps-countries-land-250m</td>
      <td id="T_fae54_row11_col1" class="data row11 col1" >28</td>
      <td id="T_fae54_row11_col2" class="data row11 col2" >max_resident_size</td>
    </tr>
    <tr>
      <th id="T_fae54_level0_row12" class="row_heading level0 row12" >12</th>
      <td id="T_fae54_row12_col0" class="data row12 col0" >brotli/geo-maps-countries-land-250m</td>
      <td id="T_fae54_row12_col1" class="data row12 col1" >25</td>
      <td id="T_fae54_row12_col2" class="data row12 col2" >wall_clock_time</td>
    </tr>
    <tr>
      <th id="T_fae54_level0_row13" class="row_heading level0 row13" >13</th>
      <td id="T_fae54_row13_col0" class="data row13 col0" >brotli/geo-maps-countries-land-250m</td>
      <td id="T_fae54_row13_col1" class="data row13 col1" >26</td>
      <td id="T_fae54_row13_col2" class="data row13 col2" >wall_clock_time</td>
    </tr>
    <tr>
      <th id="T_fae54_level0_row14" class="row_heading level0 row14" >14</th>
      <td id="T_fae54_row14_col0" class="data row14 col0" >brotli/geo-maps-countries-land-250m</td>
      <td id="T_fae54_row14_col1" class="data row14 col1" >27</td>
      <td id="T_fae54_row14_col2" class="data row14 col2" >wall_clock_time</td>
    </tr>
    <tr>
      <th id="T_fae54_level0_row15" class="row_heading level0 row15" >15</th>
      <td id="T_fae54_row15_col0" class="data row15 col0" >brotli/geo-maps-countries-land-250m</td>
      <td id="T_fae54_row15_col1" class="data row15 col1" >28</td>
      <td id="T_fae54_row15_col2" class="data row15 col2" >wall_clock_time</td>
    </tr>
    <tr>
      <th id="T_fae54_level0_row16" class="row_heading level0 row16" >16</th>
      <td id="T_fae54_row16_col0" class="data row16 col0" >brotli/lukas-2d-16-dicom</td>
      <td id="T_fae54_row16_col1" class="data row16 col1" >25</td>
      <td id="T_fae54_row16_col2" class="data row16 col2" >max_resident_size</td>
    </tr>
    <tr>
      <th id="T_fae54_level0_row17" class="row_heading level0 row17" >17</th>
      <td id="T_fae54_row17_col0" class="data row17 col0" >brotli/lukas-2d-16-dicom</td>
      <td id="T_fae54_row17_col1" class="data row17 col1" >26</td>
      <td id="T_fae54_row17_col2" class="data row17 col2" >max_resident_size</td>
    </tr>
    <tr>
      <th id="T_fae54_level0_row18" class="row_heading level0 row18" >18</th>
      <td id="T_fae54_row18_col0" class="data row18 col0" >brotli/lukas-2d-16-dicom</td>
      <td id="T_fae54_row18_col1" class="data row18 col1" >27</td>
      <td id="T_fae54_row18_col2" class="data row18 col2" >max_resident_size</td>
    </tr>
    <tr>
      <th id="T_fae54_level0_row19" class="row_heading level0 row19" >19</th>
      <td id="T_fae54_row19_col0" class="data row19 col0" >brotli/lukas-2d-16-dicom</td>
      <td id="T_fae54_row19_col1" class="data row19 col1" >28</td>
      <td id="T_fae54_row19_col2" class="data row19 col2" >max_resident_size</td>
    </tr>
    <tr>
      <th id="T_fae54_level0_row20" class="row_heading level0 row20" >20</th>
      <td id="T_fae54_row20_col0" class="data row20 col0" >brotli/lukas-2d-16-dicom</td>
      <td id="T_fae54_row20_col1" class="data row20 col1" >25</td>
      <td id="T_fae54_row20_col2" class="data row20 col2" >wall_clock_time</td>
    </tr>
    <tr>
      <th id="T_fae54_level0_row21" class="row_heading level0 row21" >21</th>
      <td id="T_fae54_row21_col0" class="data row21 col0" >brotli/lukas-2d-16-dicom</td>
      <td id="T_fae54_row21_col1" class="data row21 col1" >26</td>
      <td id="T_fae54_row21_col2" class="data row21 col2" >wall_clock_time</td>
    </tr>
    <tr>
      <th id="T_fae54_level0_row22" class="row_heading level0 row22" >22</th>
      <td id="T_fae54_row22_col0" class="data row22 col0" >brotli/lukas-2d-16-dicom</td>
      <td id="T_fae54_row22_col1" class="data row22 col1" >27</td>
      <td id="T_fae54_row22_col2" class="data row22 col2" >wall_clock_time</td>
    </tr>
    <tr>
      <th id="T_fae54_level0_row23" class="row_heading level0 row23" >23</th>
      <td id="T_fae54_row23_col0" class="data row23 col0" >brotli/lukas-2d-16-dicom</td>
      <td id="T_fae54_row23_col1" class="data row23 col1" >28</td>
      <td id="T_fae54_row23_col2" class="data row23 col2" >wall_clock_time</td>
    </tr>
    <tr>
      <th id="T_fae54_level0_row24" class="row_heading level0 row24" >24</th>
      <td id="T_fae54_row24_col0" class="data row24 col0" >brotli/silesia</td>
      <td id="T_fae54_row24_col1" class="data row24 col1" >25</td>
      <td id="T_fae54_row24_col2" class="data row24 col2" >max_resident_size</td>
    </tr>
    <tr>
      <th id="T_fae54_level0_row25" class="row_heading level0 row25" >25</th>
      <td id="T_fae54_row25_col0" class="data row25 col0" >brotli/silesia</td>
      <td id="T_fae54_row25_col1" class="data row25 col1" >26</td>
      <td id="T_fae54_row25_col2" class="data row25 col2" >max_resident_size</td>
    </tr>
    <tr>
      <th id="T_fae54_level0_row26" class="row_heading level0 row26" >26</th>
      <td id="T_fae54_row26_col0" class="data row26 col0" >brotli/silesia</td>
      <td id="T_fae54_row26_col1" class="data row26 col1" >27</td>
      <td id="T_fae54_row26_col2" class="data row26 col2" >max_resident_size</td>
    </tr>
    <tr>
      <th id="T_fae54_level0_row27" class="row_heading level0 row27" >27</th>
      <td id="T_fae54_row27_col0" class="data row27 col0" >brotli/silesia</td>
      <td id="T_fae54_row27_col1" class="data row27 col1" >28</td>
      <td id="T_fae54_row27_col2" class="data row27 col2" >max_resident_size</td>
    </tr>
    <tr>
      <th id="T_fae54_level0_row28" class="row_heading level0 row28" >28</th>
      <td id="T_fae54_row28_col0" class="data row28 col0" >brotli/silesia</td>
      <td id="T_fae54_row28_col1" class="data row28 col1" >25</td>
      <td id="T_fae54_row28_col2" class="data row28 col2" >wall_clock_time</td>
    </tr>
    <tr>
      <th id="T_fae54_level0_row29" class="row_heading level0 row29" >29</th>
      <td id="T_fae54_row29_col0" class="data row29 col0" >brotli/silesia</td>
      <td id="T_fae54_row29_col1" class="data row29 col1" >26</td>
      <td id="T_fae54_row29_col2" class="data row29 col2" >wall_clock_time</td>
    </tr>
    <tr>
      <th id="T_fae54_level0_row30" class="row_heading level0 row30" >30</th>
      <td id="T_fae54_row30_col0" class="data row30 col0" >brotli/silesia</td>
      <td id="T_fae54_row30_col1" class="data row30 col1" >27</td>
      <td id="T_fae54_row30_col2" class="data row30 col2" >wall_clock_time</td>
    </tr>
    <tr>
      <th id="T_fae54_level0_row31" class="row_heading level0 row31" >31</th>
      <td id="T_fae54_row31_col0" class="data row31 col0" >brotli/silesia</td>
      <td id="T_fae54_row31_col1" class="data row31 col1" >28</td>
      <td id="T_fae54_row31_col2" class="data row31 col2" >wall_clock_time</td>
    </tr>
  </tbody>
</table>
